---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import BandcampPlayer from "../../components/BandcampPlayer.astro";
import discographyData from "../../assets/logickal-discography-FINAL.xlsx";
import ReleaseImage from "../../components/ReleaseImage.astro";
import DiscogText from "../../components/DiscogText.astro";
import FormattedDate from "../../components/atoms/FormattedDate.astro";

export async function getStaticPaths() {
  //console.log(discographyData[0]);
  const paths = discographyData.map((album) => ({
    params: { slug: album.slug },
  }));

  return paths;
}
// Add include for discography markdown

const { slug } = Astro.params;
const release = discographyData.find((album) => album.slug === slug);

if (!release) {
  Astro.response.status = 404;
  Astro.response.statusText = "Not Found";
}

// Get Cover image
const images = import.meta.glob("/src/assets/coverImg/*");
const imageName = release.slug + "-cover.png";
const imagePath = `/src/assets/coverImg/${release.slug}-cover.jpg`;
const image = images[imagePath]();
---

<Layout title=`Logickal - ${release.title}` subhead={release.title}>
  <div class="main">

    <div class="columns-2 space-x-4">
      <div class="w-5/8 m-auto">
        <ReleaseImage image={image} class=""/>     
        <div class="break-after-column text-center">
            {release.blurb && <h3 class="text-lg italic">{release.blurb}</h3>}
            {release.catalogNumber && <p>Catalog Number: {release.catalogNumber}</p>}
            {release.releaseDate && <p>Release Date: <FormattedDate discogDate={release.releaseDate} /></p>}        
        </div>   
            
      </div>
      <div class="sidebar column-md object-contain">
        <div>
            {release.bandcampUrl &&
            <div class="m-5 p-5">
              <BandcampPlayer
                id={release.id}
                url={release.bandcampUrl}
                title={release.title}
                class="object-contain"
              />
              </div>
              <div>
                <ul>
                    <li>Service icon placeholder</li>
                </ul>
              </div>
            }
        </div>

      </div>
  
    </div>
  </div>

  <div class="m-5 p-5">
    <DiscogText header="Credits" text={release.credits} />
    <DiscogText header="About" text={release.about} />

  </div>
</Layout>
