---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import discographyData from '../../assets/logickal-discography-FINAL.xlsx';
import DiscogCard from "../../components/DiscogCard.astro";
import tagMapping from "../../assets/lib/tagMapping";


export async function getStaticPaths() {
  const uniqueTags = new Set();

  discographyData.forEach(record => {
    console.log(record);
    if (record.tags) {
      const tags = record.tags.split(',');
      tags.forEach(tag => uniqueTags.add(tag.trim()));
    }
  });

  const paths = Array.from(uniqueTags).map(tag => ({
    params: { tag },
  }));

  return paths ;
}

const releases = discographyData.filter(record => record.tags.includes(Astro.params.tag));
const tagText = tagMapping[Astro.params.tag] || Astro.params.tag;

---

<Layout title={`Logickal - ${tagText}`} subhead={tagText} >

  <div class="p-2 content-center justify-center">
    <div class="m-5 p-5 bg-gray-800">
        <div>
            <h1 class="text-2xl font-bold">Discography - {tagText}</h1>

            <p class="font-mono">Logickal releases tagged {tagText}</p>    
        </div>
    </div>

    <div class="w-9/12 bg-gradient-to-t from-gray-800 min-h-screen my-10 py-5 mx-auto grid grid-cols-2">
        {releases.map(release => (
            <DiscogCard release={release} />
        ))}
    </div>
  </div>  