---
import Layout from "../layouts/Layout.astro";
import HomeCard from "../components/HomeCard.astro";
import GenreGrid from "../components/GenreGrid.astro";
import BandcampPlayer from "../components/BandcampPlayer.astro";
import discographyData from "../assets/logickal-discography-FINAL.xlsx";
import DiscogCard from "../components/DiscogCard.astro";
import StreamingServices from "../components/StreamingServices.astro";

const images = import.meta.glob("../assets/imgBg/*");

const cards = [
  {
    title: "Musick",
    //image: "musick.jpg",
    link: "/discog",
	text: "explore the discography.",
	tile: 0
  },
  {
    title: "Videos",
    //image: "videos.jpg",
    link: "/videos",
	text: "view videos and streams.",
	tile: 1
  },
  {
    title: "About",
    //image: "about.jpg",
    link: "/about",
	text: "introductory text",
	tile: 2
  },
  {
    title: "Blog",
    //image: "blog.jpg",
    link: "/blog",
	text: "current thoughts. sporadically updated",
	tile: 3
  },
  {
    title: "Links",
    //image: "links.jpg",
    link: "/links",
	text: "external links",
	tile: 4
  },
];

//Get the first release for the latest release card
const latestRelease = discographyData[0];
---

<Layout title="Logickal Electronic Music." subhead="Eclectic Electricism">
  <div>
    <div class="flex flex-col items-center justify-center">
      <div
        class="content-center text-center w-9/12 bg-gradient-to-t from-gray-800 min-h-screen my-5"
      >
        <div class="bg-black h-2/5">
          <h1 class="text-4xl font-mono">logickal</h1>
          <h3 class="text-xl font-sans">eclectic electronic musick</h3>
        </div>
      </div>
      <div
        class="w-9/12 min-h-fit content-center text-center my-5 p-5  bg-gradient-to-b from-black to-gray-800 border border-gray-600"
      >
        <div class="h-1/12text-left">
          <h3 class="text-2xl">Latest Release</h3>
        </div>
        <div class="content-center">
          <DiscogCard release={latestRelease} size="small" />
          <p>
            <a
              class="text-lg font-bold hover:text-yellow-600"
              href={latestRelease.bandcampUrl}
              >Listen and Purchase on Bandcamp.</a
            >
          </p>
        </div>

      </div>
		<StreamingServices />

		<div class="content-center w-8/12">
			{
			  cards.map((card) => (
				<HomeCard title={card.title} link={card.link} tile={card.tile} text={card.text} />
			  ))
			}
		  </div>
    </div>

  </div>
</Layout>
