---
import Header2 from './atoms/headers/Header2.astro'
import FormattedDate from './atoms/FormattedDate.astro'
import { PortableText } from 'astro-portabletext'
import Prose from './Prose.astro'
import BlogCategories from './BlogCategories.astro'

const { key, post } = Astro.props;

function truncatePortableText(content, maxBlocks = 1) {
    const blocks = content.filter(block => block._type === 'block');
    return blocks.slice(0, maxBlocks);
}

const truncatedBody = truncatePortableText(post.body, 1);


---
<a href=`/jrnl/${post.slug.current}` class="my-5">
    <div class="group p-5 bg-gray-900 bg-gradient-to-b from-black text-gray-600 border border-gray-600 hover:border-blue-600 rounded-md">
        <Header2>{post.title}</Header2>
        <FormattedDate discogDate={post._createdAt} />
        <BlogCategories categories={post.categories} />
        <div class="mt-5">
            <Prose extraClasses="text-xs font-mono w-full mx-auto justify-center">
                <PortableText value={truncatedBody} />
                <div class="text-blue-400 group-hover:text-blue-600">read more...</div>
            </Prose>
     </div>
    </div>
</a>