---
import { Image } from "astro:assets";
import { format } from "date-fns";
import FormattedDate from "./atoms/FormattedDate.astro";
import Slug from "../pages/discog/[slug].astro";

const { release } = Astro.props;
const images = import.meta.glob("/src/assets/coverImg/*");

// Get Cover image
const getImage = (slug) => {
  const imagePath = `/src/assets/coverImg/${slug}-cover.jpg`;
  return images[imagePath] ? images[imagePath] : null;
};

  const image = getImage(release.slug);
---

<a href={`/discog/${release.slug}`}>
  <div class="relative text-xs font-mono m-5">
    <figure class="relative">
      {
        image ? (
          <Image src={image()} alt={release.title} class="object-contain w-full h-full" />
        ) : null
      }
      <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-white">
        <div class="release-info text-center outline-1 outline-gray-300 outline h-93 rounded-md p-2 w-10/12">
          <h4>{release.title}</h4>
          <ul>
            <li>{release.label} {release.catalogNumber ? `:: ${release.catalogNumber}` : ''}</li>
            <li><FormattedDate discogDate={release.releaseDate} /></li>
          </ul>
          <p>{release.blurb}</p>
        </div>
      </div>
    </figure>
  </div>
</a>
